{% extends 'base.html' %}
{% block active2 %} class="active" {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 m-auto mt-70 ">
                <div class="card card-default">
                    <div class="card-heading card-heading-transparent">
                        <h2 class="card-title">Добавление своего правила в IDS</h2>
                    </div>
                    <div class="card-block"></div>
                    <form class="validate" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12 mb-30">
                            <label for="{{ form.rule_file.id_for_label }}">Выберите правило для загрузки</label>
                            {{ form.rule_file }}
                            <small class="text-muted block">Макс. размер файла: 10Мб (.rules)</small>
                        </div>

                        <button type="submit" name="is_keyboard_input" value="True"
                                class="btn btn-link float-right mr-15 text-info block">Ввести правило вручную
                        </button>
                        {% if keyboard_input == 'True' %}
                            <!-- input -->
                            <div class="fancy-form mb-15 ml-15 w-400">
                                {#                            <input type="text" class="form-control" name="file_name" placeholder="Имя файла">#}
                                <label for="{{ form.filename.id_for_label }}"></label>
                                {{ form.filename }}
                            </div>
                            <div class="fancy-form ml-15 mb-15 mr-15">
                                {#                            <input type="text" name="description" class="form-control" placeholder="Описание">#}
                                <label for="{{ form.description.id_for_label }}"></label>
                                {{ form.description }}
                            </div>
                            <!-- textarea -->
                            <div class="fancy-form">
                                <label for="{{ form.text_rule.id_for_label }}"></label>
                                {{ form.text_rule }}
                                {#                            <textarea rows="5" name="text_rule" class="form-control word-count"#}
                                {#                                      data-maxlength="200"#}
                                {#                                      data-info="textarea-words-info" placeholder="Введите правило..."></textarea>#}

                                <i class="fa fa-cog"><!-- icon --></i>

                            </div>
                        {% endif %}
                        <button type="submit" name='submit' class="btn btn-outline-secondary float-right mr-15">
                            Загрузить
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}