<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <p>{{ status }}</p>
    <p> {{ name }}</p>

    {% for i in my_list %}
        <p> {{ i }} </p>
    {% endfor %}
</body>
</html>