{% extends 'base.html' %}
{% block active4 %} class="active" {% endblock %}
{% block content %}
    <div class="container mt-40">
        <div class="row">
            <table class="table table-striped table-bordered table-hover w-75 m-auto" id="sample_1">
                <thead>
                <tr>
                    <th>time</th>
                    <th>rule_file</th>
                    <th>traffic_file</th>
                    <th>alerts</th>
                </tr>
                <tbody>

                {% for res in results_db %}
                    <tr>

                        <td>{{ res.0 }}</td>
                        <td>{{ res.1 }} </td>
                        <td>{{ res.2 }}</td>
                        <td>{{ res.3 }} <a class="float-right" href="{{ res.4 }}">Посмотреть</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
{% endblock %}