{% extends 'base.html' %}
{% block active3 %} class="active" {% endblock %}
{% block content %}
<!-- HTML DATATABLES -->
<div>Rule Database</div>
<table class="table table-striped table-bordered table-hover w-75 m-auto" id="sample_1">
    <thead>
    <tr>
        <th>filename</th>
        <th>rule_file</th>
        <th>text_rule</th>
        <th>description</th>
    </tr>
    </thead>
    <tbody>
    {% for rule in rules_db %}
        <tr>
            <td>{{ rule.0 }}</td>
            <td>{{ rule.1 }}</td>
            <td>{{ rule.2 }}</td>
            <td>{{ rule.3 }}</td>

        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}