{% extends 'base.html' %}
{% block active1 %} class="active" {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 m-auto mt-70 ">
                <div class="card card-default">
                    <div class="card-heading card-heading-transparent">
                        <h2 class="card-title">Запуск IDS</h2>
                    </div>
                    <div class="card-block"></div>
                    <form class="validate" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12 mb-30">
                            {{ docker_form }}
                        </div>
                        <div class="col-md-12 col-sm-12 mb-30">
                            {{ load_traffic_form }}
                            <small class="text-muted block">Макс. размер файла: 10Мб (pcap/pcapng)</small>
                        </div>

                        <div class="col-md-12 col-sm-12 mb-15">
                            <label>Выберите правило для анализа:</label>
                            <select name="rules" id="rules" class="form-control pointer required">
                                {% for rule in rules %}
                                    <option value="{{ rule }}"> {{ rule }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary float-right mr-15"> Проанализировать
                        </button>
                    </form>
                    {% if status == 'OK' %}
                        <div class="alert alert-success mb-30 ml-15 mr-15"><!-- SUCCESS -->
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>{{ status }}</strong> Docker-контейнер {{ name }} запущен успешно
                        </div>
                    {% endif %}
                    {% if show_result == 1 %}
                        <button type="submit" class="btn btn-link float-right mr-15 text-info"><a
                                href="/show_result/"> Посмотреть результат </a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}